{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ecom.com</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      var user = "{{request.user}}";

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie("csrftoken");
    </script>
  </head>
  <body>


  <nav class="navbar navbar-expand-md navbar-dark bg-warning p-0">
    <div class="d-flex w-50 order-0">
        <a class="navbar-brand mr-1" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'user_home' %}">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_store' %}">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">
    
    
    
    
    </span>
</nav>
    






    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'user_home' %}">Ecom</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
         
              <div class="d-flex flex-row">
  <div class="">

   {% if user.is_authenticated %}

      
            

            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-user" aria-hidden="true"></i> welcome
            {{request.user.username}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="#"><i class="fa fa-eye" aria-hidden="true"></i> View Profile</a>
    <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
    
  </div>
</div>
          
     

      {% else %}

      <a class="btn btn-secondary">Login</a>

      {% endif %}
  
  
  
  </div>
</div>
        </ul>

    






         <div class="form-inline my-2 my-lg-0 text-center">
         <div class="d-flex flex-row">
  <div class=""> 
  
  <input type="search" class="form-control" /></div>


  <div class=""> <a class="btn btn-danger" href="#">Search<a/></div>
  
</div>

       
        </div>
        <div class="form-inline my-2 my-lg-0">
          <a href="{% url 'user_cart' %}">
            <img id="cart-icon" src="{% static 'images/cart.png' %}" />
          </a>
          <p id="cart-total">{{cartItems}}</p>

       
        </div>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock content %}</div>

    <script src="{% static 'user/js/cart.js' %}"></script>
  </body>
</html>
