{% extends 'user_panel/base.html' %}
{% load static %}
{% block content %}
	<div class="row">
    <div class="col-lg-4">
    </div>

		<div class="col-lg-4">
        <h3 class="mt-3">Create account </h3>
        <form method="POST" >
        {% csrf_token %}
           


           {% for field in form %}
		<p>

         <label><i class="fa fa-plus-square-o" aria-hidden="true"></i> {{field.label_tag}}</label><br>

              {{field}}




			{% if field.help_text %}
				<small style="color: grey;">{{field.help_text}}</small>
			{% endif %}

			{% for error in field.errors %}
				<p style="color: red;">{{error}}</p>
			{% endfor %}
		</p>
	{% endfor %}
	<button style="margin-top:10px" type="submit" class="btn btn-secondary">Create</button>




		</div>
        </form>
        <div class="col-lg-4">
    </div>
	</div>
    
{% endblock content %}



