{% extends 'user_panel/base.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
            <h3 class="text-center">Predict A mobile Price</h3>

				<form method="post" action="{% url 'price_prediction' %}">
    {% csrf_token %}
                <div class="row mt-5">
               
                <div class="col-3">
                 <div class="form-group">
    <label for="exampleFormControlSelect1">Model</label>
    <select class="form-control" id="exampleFormControlSelect1" name="modell">
      <option>Samsung_A21s</option>
      <option>Samsung_A30s</option>
      <option>Nokia</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

                </div>
                <div class="col-3">
                 <div class="form-group">
    <label for="exampleFormControlSelect1">ROM</label>
    <select class="form-control" id="exampleFormControlSelect1" name="rom">
      <option>64</option>
      <option>32</option>
  
    </select>
  </div>
                </div>
                <div class="col-3">
                 <div class="form-group">
    <label for="exampleFormControlSelect1">RAM</label>
    <select class="form-control" id="exampleFormControlSelect1" name="ram">
      <option>4</option>
      <option>6</option>
    </select>
  </div>
                </div>
                <div class="col-3">
                <div class="form-group">
    <label for="exampleFormControlSelect1">Cammerra</label>
    <select class="form-control" id="exampleFormControlSelect1" name="cammera">
      <option>48</option>
      <option>25</option>
      {% comment %} <option>5</option> {% endcomment %}
    </select>
  </div>
                </div>
                </div>
                <button type="submit" class="btn btn-secondary text-center" href="">Predict</button>
                </form>

			</div>

			<br>
		</div>
	</div>
  <h3>Top 3 mobile</h3>
  <div class="row mt-5">
  {% for product in products %}

  <div class="col-lg-4">
    <img class="thumbnail" src="{{product.imageURL1}}" />
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <p>{{product.descriptions |truncatechars:43}}</p>
      <hr />

      <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
      <a class="btn btn-outline-success" href="{% url 'user_view' product.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <h4 style="display: inline-block; float: right"><strong>&#2547; {{product.price|floatformat:2}}</strong></h4>
    </div>
  </div>




  {% endfor %}
    
</div>
{% endblock content %}



