{% extends 'user_panel/base.html' %}
{% load static %}
{% block content %}
	<div class="row">
    <div class="col-lg-4">
    </div>

		<div class="col-lg-4">
        <h3 class="mt-3">Log In </h3>
        <label>Email</label>
			<input type="email" class="form-control" placeholder="abc@gmail.com">
             <label>password</label>
			<input type="password" class="form-control" placeholder="qazxyv">
            <button class="btn btn-secondary mt-2 mb-5">Submit</button>
		</div>
        <div class="col-lg-4">
    </div>
	</div>
{% endblock content %}



