{% extends 'admin_panel/base.html' %} {% block content %}

<a class="btn btn-info mb-2" href="{% url 'create_product' %}">Add a Product</a>
<div>
  <input
    type="text"
    id="myInput"
    onkeyup="myFunction()"
    placeholder="Search for names.."
    title="Type in a name"
  />
</div>

<table class="table table-striped" id="myTable">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Digital</th>
      <th scope="col">Image1</th>
      <th scope="col">Image2</th>
      <th scope="col">Image3</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tr>
    <td>i phone 10</td>
    <td>60000</td>
    <td>Digital</td>
    <td>null</td>
     <td>null</td>
      <td>null</td>
    
    <td>
      <form action="" method="POST" onsubmit="return confirm('Are you sure?');">
        <a class="btn btn-primary" href=""
          ><i class="fa fa-eye" aria-hidden="true"></i
        ></a>
        <a class="btn btn-warning m-2" href=""
          ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
        ></a>

        <button class="btn btn-danger" type="submit">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </form>
    </td>
  </tr>
   <tr>
    <td>i phone 11</td>
    <td>80000</td>
    <td>Digital</td>
    <td>null</td>
     <td>null</td>
      <td>null</td>
    <td>
      <form action="" method="POST" onsubmit="return confirm('Are you sure?');">
        <a class="btn btn-primary" href=""
          ><i class="fa fa-eye" aria-hidden="true"></i
        ></a>
        <a class="btn btn-warning m-2" href=""
          ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
        ></a>

        <button class="btn btn-danger" type="submit">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </form>
    </td>
  </tr>

  
</table>
{% endblock content %}