{% extends 'admin_panel/base.html' %}

{% block content %}





        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Create A Product
        </h2>



    <form action="" method="POST">
      



        <div class="row">
            <div class="col-6">
                <label>Name</label>
                <input type="text" name="product_name" class="form-control" placeholder="Product Name">
                <br>
            </div>
            <div class="col-6">
                <label>Digital</label>
                <input type="text" name="dob" class="form-control" placeholder="Digital">
                <br>
            </div>
        </div>

        <div class="">
                <label>Price</label>
                <input type="number" name="first_name" class="form-control" placeholder="Price">
                <br>
            </div>


        <div class="row">
            
            <div class="col-4">
                <label>Image 1</label>
                <input type="file" name="last_name" class="form-control" placeholder="Last name">
                <br>
            </div>
            <div class="col-4">
                <label>Image 2</label>
                <input type="file" name="last_name" class="form-control" placeholder="Last name">
                <br>
            </div>
            <div class="col-4">
                <label>Image 3</label>
                <input type="file" name="last_name" class="form-control" placeholder="Last name">
                <br>
            </div>
        </div>
       



        <button class="btn btn-info" type="submit">ADD</button>

    </form>
</div>






{% endblock content %}




